.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 100%;
    padding: 32px 0;
}

.itemBox {
    flex-shrink: 0;
    width: 100%;
    height: 273px;
    justify-content: center;
}

.swiper {
    margin-bottom: 16px;
    height: 273px;
    width: 100%;
    indicator-color: #FFFFFF;
    indicator-selected-color: #5bffffff;
    indicator-size: 12px;
    indicator-bottom: 10px;
    indicator-right: 16px;
}

.images {
    padding: 0 15px;
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 4px;
    overflow: hidden;
}

.list {
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 23px 0 24px;
}

.listItem {
    flex-shrink: 0;
    width: 234px;
    min-height: 312px;
    flex-direction: column;
    overflow: hidden;
    padding: 0px 8px 32px 8px;
}

.bookCover {
    width: 218px;
    height: 312px;
    border-radius: 8px;
    object-fit: fill;
}

.bookName {
    margin-top: 8px;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 400;
    max-lines: 1;
}

.columnBox {
    flex-direction: column;
}

.columnName {
    padding: 24px 32px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
}

.moreLoading {
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
}
.moreLoadingTxt {
    font-size: 24px;
    color: #ffffff;
}

.loading {
    margin-right: 15px;
    width: 40px;
    height: 40px;
}