.container {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
}

.playIconBox {
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.playIcon {
    width: 80px;
    height: 80px;
}

.loadingBox {
    position: absolute;
    z-index: 9;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loadingIcon {
    width: 120px;
    height: 120px;
    animation: loadingRotate 1.5s linear infinite;
    opacity: 0.9;
}

@keyframes loadingRotate {
    from {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}