.container {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
}

image {
    width: 40px;
    aspect-ratio: 1;
}

.progress {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.image-div {
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 100%;
}

.slider-div {
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    margin-right: 10px;
}

.image-div image {
    width: 20px;
    aspect-ratio: 1;
    margin-right: -5px;
}

.now-time {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -5px;
    z-index: 1;
}

slider {
    width: 90%;
    height: 100%;
    color: #888888;
    selected-color: white;
    z-index: 0;
}
.duration-time {
    color: white;
    height: 100%;
    position: absolute;
    right: -8px;
    z-index: 1;
}