.container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.swiper {
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.swiperContent {
    height: 100%;
    width: 100%;
    justify-content: center;
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
}

.icon_dianzan {
    width: 17px;
    height: 17px;
    top: 40%;
    position: fixed;
    right: 8px;
}

.icon_comment {
    width: 17px;
    height: 17px;
    top: 50%;
    position: fixed;
    right: 8px;
}

.icon_share {
    width: 17px;
    height: 17px;
    top: 60%;
    position: fixed;
    right: 8px;
}

.title {
    width: 88%;
    color: #ffffff;
    font-size: 12px;
    bottom: 15%;
}

.content {
    width: 88%;
    color: #ffffff;
    font-size: 12px;
    bottom: 10%;
}

.commentPanel {
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    height: 400px;
    bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.comment-title {
    height: 25px;
    font-size: 12px;
    flex-direction: row;
}

.comment {
    flex-direction: row;
    height: 30px;
}

.iconImage {
    width: 20px;
    height: 20px;
    left: 10px;
}

.comment-content {
    flex-direction: column;
    left: 20px;
}

.button {
    padding-left: 8px;
    padding-right: 8px;
    width: 40px;
}

.select-device-dialog {
    width: 90%;
    height: 33%;
}

.select-device-wrapper {
    margin: 5%;
    width: 90%;
    height: 90%;
    flex-direction: column;
}

.select_device_title {
    width: 100%;
    height: 20%;
    text-align: left;
    font-size: 12px;
}

.select_device_list {
    width: 100%;
    height: 60%;
    text-align: left;
    font-size: 12px;
}

.select_device_item {
    width: 100%;
    height: 33%;
}

.select_device_item-left {
    width: 90%;
    height: 100%;
    text-align: left;
    font-size: 12px;
}

.select_device_item-right {
    width: 10%;
    height: 100%;
}

.choose-ok-or-not {
    height: 20%;
    width: 100%;
}

.select-device-btn {
    text-align: center;
    color: blue;
    font-size: 12px;
    width: 100%;
}