.container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: #ffdedede;
}

.todo-wrapper {
    width: 100%;
}
.todo-item {
    border-bottom: 1px solid #DEDEDE;
    width: 100%;
}

.todo-title {
    font-size: 15px;
    width: 100%;
    height: 40px;
}

.marqueetext {
    font-size: 14px;
}
.mymarquee {
    padding-top: 20px;
    width:100%;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid #dc0f27;
    border-radius: 5px;
    align-items: center;
}

.dialog-div {
    flex-direction: column;
    align-items: center;
}
.area {
    width: 88%;
    border-radius: 5px;
}
.inner-txt {
    width: 80%;
    height: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.txt {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}
.text {
    font-size: 16px;
}
.inner-btn {
    width: 80%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}