/* second.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.swiper {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.videoBox {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.backBtn {
    position: fixed;
    left: 0px;
    top: 10px;
    z-index: 99;
    align-items: center;
    padding: 5px 15px;
}

.backIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.backTxt {
    font-size: 15px;
    color: #FFFFFF;
}